{% extends 'myapp/base.html' %}

{% block body_block %}

{% load static %}

<div class='jumbotron text-center'>
<h3>This page is <abbr>reserved</abbr> for <mark>mysite homepage</mark> <code>span</code>contents</h3>
<p class="lead">Resize the responsive page to see the effect</p>

<p><kbd>Lorem ipsum</kbd> dolor sit amet, <abbr>consectetur</abbr> adipiscing elit. Nunc et mi vitae mi placerat volutpat. Cras semper nec sapien rhoncus convallis. Donec vel turpis vel diam rhoncus fringilla sed sed eros. Ut porttitor nunc nunc, in mattis augue blandit at. Vivamus in tincidunt justo. Phasellus turpis orci, porttitor ut est nec, malesuada fermentum urna. Mauris placerat quis purus ut efficitur. Nullam enim justo, tristique id blandit nec, lobortis eget elit. Fusce scelerisque felis ut urna viverra, vitae vehicula augue pharetra. Curabitur euismod a turpis id mollis. Donec viverra mauris eget neque viverra lacinia. In quis sem in nulla pulvinar mollis. Integer eu dui at felis porttitor mattis.

Nunc ut dolor dui. Quisque eget purus metus. Nullam lacinia bibendum eros. Ut egestas commodo interdum. Nullam ut magna maximus, molestie ligula sit amet, blandit dui. Nullam aliquam orci leo, eu ultricies odio sagittis nec. Proin maximus odio in mauris rhoncus iaculis. Maecenas dignissim dui nunc, finibus vulputate turpis euismod ac. Aenean commodo varius risus, vel rhoncus nibh dictum a. Nullam et justo in lacus pharetra convallis. Sed ac placerat neque
</p>

<p>Nunc ut dolor dui. <pre class="pre-scrollable">Quisque eget purus metus. Nullam lacinia bibendum eros. Ut egestas commodo interdum. Nullam ut magna maximus, molestie ligula sit amet, blandit dui. Nullam aliquam orci leo, eu ultricies odio sagittis nec. Proin maximus odio in mauris rhoncus iaculis. Maecenas dignissim dui nunc, finibus vulputate turpis euismod ac. Aenean commodo varius risus, vel rhoncus nibh dictum a. Nullam et justo in lacus pharetra convallis. Sed ac placerat neque.></pre>
</p>
 
<p>Nam et pellentesque leo. Proin sit amet justo eu nunc luctus dignissim. Fusce malesuada ipsum vitae gravida porttitor. Vestibulum nec dictum sapien. Maecenas vulputate massa eget mi posuere convallis. Curabitur dapibus magna diam, ut feugiat mi elementum et. Nunc pretium, purus quis eleifend bibendum, nisi ipsum bibendum felis, sed fermentum nibh nunc nec ex. Nunc hendrerit sollicitudin turpis. Aenean placerat dolor ac sapien tempus, vehicula dapibus lacus commodo. Suspendisse ex quam, ornare sit amet leo euismod, semper sollicitudin erat. Ut pulvinar nibh sit amet tempus porta. Quisque vestibulum nisi quis velit fermentum fermentum. Cras ullamcorper venenatis ante eu eleifend. Vivamus vitae maximus lectus. Sed iaculis ac lorem et condimentum. Mauris ac ultricies erat.
</p>
<img class="img-thumbnail img-fluid" alt="Image not found" src="{% static "images/irctc_error.png" %}">

</div>


{% endblock %}